.likeAnApp {
  margin: 0 auto;
  padding: 3em 1em;
  &__headline {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1em;
    font-weight: 700;
    color: rgb(255, 70, 70);
    @media (min-width: 40em) {
      font-size: 1.875rem;
    }
    @media (min-width: 48em) {
      font-size: 3rem;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    gap: 3em;
    padding: 3em 1em;
  }
}

.grid-likeAnApp {
  &__item {
    border: 1px solid grey;
    border-radius: 0.5em;
    padding: 0.5em;
  }
}

#displayData {
  height: 100%;
  flex: 1 1 auto;
}

.form-likeAnApp {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(3em, 1fr));
  gap: 0.5em;
  height: 100%;
  &__item {
    padding: 0.5em;
  }
}

.item-form {
  &__input {
    border: 1px solid rgb(87, 86, 86);
    width: 100%;
    height: 2em;
  }
  &__btn {
    width: 100%;
    height: 2.5em;
    text-transform: uppercase;
  }
}
